{% load static %}
<!doctype html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block head_title %}{% endblock head_title %}</title>
        <!-- Bootstrap core CSS -->
        <link href="{% static 'boodstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    </head>

    <body class='container d-flex justify-content-center'>
        <main class="row col-md-4 text-center p-3 border border-dark mt-5">
            <h2 class='bg-light p-3'>NEWS PAPER</h2>
            {% block body %}
            {% block content %}
            {% endblock content %}
            {% endblock body %}
            {% block extra_body %}
            {% endblock extra_body %}
        </main>
    </body>
</html>