{% extends 'layout.html' %}
{% load static %}

{% block title %}
    {{ block.super }}Все новости
{% endblock title %}

{% block content %}
    <div class='row justify-content-between align-items-center'>
        <h3 class="col-auto my-4">Все новости</h3>
        <div class='col-auto'><h3><span class="badge rounded-pill text-bg-primary">{{ posts|length }} новостей</span></h3></div
    </div>
    {% if posts %}
        {% for post in posts %}
        <div class="card mb-3">
            <h5 class="card-header">{{ post.title }}</h5>
            <div class="card-body">
              <h5 class="card-title">{{ post.created|date:'d E Y' }}</h5>
              <p class="card-text">{{ post.text|truncatewords:20 }}</p>
              <a href="{% url 'onePost' post.pk %}" class="btn btn-primary">Читать</a>
            </div>
        </div>
        {% endfor %}
    {% else %}
        <h5 class='text-center md-5'>Новостей нет ....</h5>
    {% endif %}
{% endblock content %}