<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NewsPaperMail</title>
</head>
<body>
    {% load my_tags %}
    <div style="margin-left: auto; margin-right: auto; width: 70%">
        <div style="padding: 20px; padding-top: 5px">
            <h3>Здравствуй {{ user.username }}. Новая статья в твоём любимом разделе!</h3>
            <strong>Новость в разделе: {{ category }} </strong>
        </div>
        <div style="padding-left: 20px; padding-right: 20px;">
            <h3>{{ post.title|censor }}</h3>
            <p>{{ post.text|censor|truncatechars:50 }}</p>
            <a href="http://127.0.0.1:8000/news/post/{{ post.pk }}" style="text-decoration: none;">Читать на сайте ...</a>
        </div>
    </div>
</body>
</html>